<!doctype html>
<html>
{% load staticfiles %}
<head>
<title>系統介紹</title>
<h1 style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; text-align: center;">
    <span style="font-size:48px;">作業系統介紹</span></h1>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<br>
{% if user.is_authenticated %}
 <p><a href={% url 'account:userLogout' %}>登出 ({{user.username}})</a></p>
{% else %}
<p><a href={% url 'account:register' %}>註冊</a></p>
<p><a href={% url 'account:userLogin' %}>登入</a></p>
{% endif %}

{% if messages %}
 {% for message in messages %}
 <p {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</p>
 {% endfor %}
{% endif %}
<p style="text-align: justify;"><font size="5">作業系統（<font color="blue">英語</font>：operating system，縮寫：OS）是管理電腦硬體與軟體資源的電腦程式，同時也是電腦系統的核心與基石。作業系統需要處理如管理與配置記憶體、決定系統資源供需的優
先次序、控制輸入與輸出裝置、操作網路與管理檔案系統等基本事務。作業系統也提供一個讓使用者與系統互動的操作介面。 作業系統的型態非常多樣，不同機器安裝的作業系統可從簡單到複雜，可從非智慧型手機的嵌入式系統到超級電腦的大型作業系統。許多作業系統製造者對它涵蓋範疇的定義也不盡一致，例如有些作業系統整合了圖形化使用者介面，而有些僅使用命令列介面，而將圖形化使用者介面視為一種非必要的應用程式。
作業系統理論在電腦科學中，為歷史悠久而又活躍的分支；而作業系統的設計與實作則是軟體工業的基礎與核心。</font></P>

<font size="7">歷史</font></p>

<p style="text-align: justify;"><font size="5">綜觀電腦之歷史，作業系統與電腦硬體的發展息息相關。作業系統之本意原為提供簡單的工作排序能力，後為輔助更新更複雜的硬體設施而漸漸演化。從最早的批次模式開始，分時機制也隨之出現，在多處理器時代來臨時，作業系統也隨之添加多處理器協調功能，甚至是分散式系統的協調功能。其他方面的演變也類似於此。另一方面，在個人電腦上，個人電腦之作業系統因襲大型電腦的成長之路，在硬體越來越複雜、強大時，也逐步實踐以往衹有大型電腦才有的功能。
總而言之，作業系統的歷史就是一部解決電腦系統需求與問題的歷史。</font></p>

<font size="7">1980年代前</font></p>

<p style="text-align: justify;"><font size="5">第一部電腦並沒有作業系統。這是由於早期電腦的建立方式（如同建造機械算盤）與效能不足以執行如此程式。但在1947年發明了電晶體，以及莫里斯·威爾克斯發明的微程式方法，使得電腦不再是機械裝置，而是電子產品。系統管理工具以及簡化硬體操作流程的程式很快就出現了，且成為作業系統的濫觴。到了1960年代早期，商用電腦製造商製造了批次處理系統，此系統可將工作的建置、排程以及執行序列化。此時，廠商為每一台不同型號的電腦創造不同的作業系統，因此為某電腦而寫的程式無法移植到其他電腦上執行，即使是同型號的電腦也不行。
到了1964年，IBM System/360推出了一系列用途與價位都不同的大型電腦，而它們都共用代號為OS/360的作業系統（而非每種產品都用量身訂做的作業系統）。讓單一作業系統適用於整個系列的產品是System/360成功的關鍵，且實際上IBM目前的大型系統便是此系統的後裔，為System/360所寫的應用程式依然可以在現代的IBM機器上執行。
OS/360也包含另一個優點：永久貯存裝置—硬碟機的面世（IBM稱為DASD（Direct access storage device））。另一個關鍵是分時概念的建立：將大型電腦珍貴的時間資源適當分配到所有使用者身上。分時也讓使用者有獨佔整部機器的感覺；而Multics的分時系統是此時眾多新作業系統中實踐此觀念最成功的。
1963年，奇異公司與貝爾實驗室合作以PL/I語言建立的Multics[1]，是激發1970年代眾多作業系統建立的靈感來源，尤其是由AT&T貝爾實驗室的丹尼斯·里奇與肯·湯普遜所建立的Unix系統，為了實踐平台移植能力，此作業系統在1973年由C語言重寫；另一個廣為市場採用的小型電腦作業系統是VMS。</p>
<font size="7">1980年代</font></p>
<p style="text-align: justify;"><font size="5">第一代微型電腦並不像大型電腦或小型電腦，沒有裝設作業系統的需求或能力；它們只需要最基本的作業系統，通常這種作業系統都是從ROM讀取的，此種程式被稱為監視程式（Monitor）。1980年代，家用電腦開始普及。通常此時的電腦擁有8-bit處理器
加上64KB記憶體、螢幕、鍵盤以及低音質喇叭。而80年代早期最著名的套裝電腦為使用微處理器6510（6502晶片特別版）的Commodore C64。此電腦沒有作業系統，而是以一8KB唯讀記憶體BIOS初始化彩色螢幕、鍵盤以及軟碟機和印表機。它可用8KB唯讀記憶體BASIC語言
來直接操作BIOS，並依此撰寫程式，大部分是遊戲。此BASIC語言的直譯器勉強可算是此電腦的作業系統，當然就沒有核心或軟硬體保護機制了。此電腦上的遊戲大多跳過BIOS層次，直接控制硬體。</font></p>

<p style="text-align: justify;"><font size="5">早期最著名的磁碟啟動型作業系統是CP/M，它支援許多早期的微電腦，且被MS-DOS大量抄襲其功能。最早期的IBM PC其架構類似C64。當然它們也使用了BIOS以初始化與抽象化硬體的操作，甚至也附了一個BASIC直
譯器！但是它的BASIC優於其他公司產品的原因在於他有可攜性，並且相容於任何符合IBM PC架構的機器上。這樣的PC可利用Intel-8088處理器（16-bit暫存器）定址，並最多可有1MB的記憶體，然而最初只有6
40KB。軟式磁碟機取代了過去的磁帶機，成為新一代的儲存裝置，並可在他512KB的空間上讀寫。為了支援更進一步的檔案讀寫概念，磁碟作業系統（Disk Operating System，DOS）因而誕生。此作業系統可以
合併任意數量的磁區，因此可以在一張磁碟片上放置任意數量與大小的檔案。檔案之間以檔名區別。IBM並沒有很在意其上的DOS，因此以向外部公司購買的方式取得作業系統。1980年微軟公司取得了與IBM的合約，
並且收購了一家公司出產的作業系統，在將之修改後以MS-DOS的名義出品，此作業系統可以直接讓程式操作BIOS與檔案系統。到了Intel-80286處理器的時代，才開始實作基本的儲存裝置保護措施。MS-DOS的架構
並不足以滿足所有需求，因為它同時衹能執行最多一個程式（如果想要同時執行程式，只能使用ISR（中斷處理常式）的方式來跳過OS而由程式自行處理多工的部份），且沒有任何記憶體保護措施。對驅動程式的支援
也不夠完整，因此導致諸如音效裝置必須由程式自行設置的狀況，造成不相容的情況所在多有。某些操作的效能也是可怕地糟糕。許多應用程式因此跳過MS-DOS的服務程式，而直接存取硬體裝置以取得較好的效能。雖
DOS）。MS-DOS的成功使得微軟成為地球上最賺錢的公司之一。</font></p>

<font size="7">1990年代</font></p>
<p style="text-align: justify;"><font size="5">延續1980年代的競爭，1990年代出現了許多影響未來個人電腦市場深厚的作業系統。由於圖形化使用者介面日趨繁複，作業系統的能力也越來越複雜與巨大，因此強韌且具有彈性的作業系統就成了迫切的需求。此年代
是許多套裝類的個人電腦作業系統互相競爭的時代。上一年代於市場崛起的蘋果電腦，由於舊系統的設計不良，使得其後繼發展不力，蘋果電腦決定重新設計作業系統。經過許多失敗的專案後，蘋果於1997年釋出新作
業系統——Mac OS X的測試版，而後推出的正式版取得了巨大的成功。讓原先失意離開蘋果的史提夫·賈伯斯風光再現。除了商業主流的作業系統外，從1980年代起在開放原碼的世界中，BSD系統也發展了非常久的一
段時間，但在1990年代由於與AT&T的法律爭端，使得遠在芬蘭赫爾辛基大學的另一股開源作業系統——Linux興起。Linux核心是一個標準POSIX核心，其血緣可算是Unix家族的一支。Linux與BSD家族都搭配GNU計
畫所發展的應用程式，但是由於使用的許可證以及歷史因素的作弄下，Linux取得了相當可觀的開源作業系統市佔率，而BSD則小得多。相較於MS-DOS的架構，Linux除了擁有傲人的可移植性（相較於Linux，MS-D
OS衹能運行在Intel CPU上），它也是一個分時多行程核心，以及良好的記憶體空間管理（普通的行程不能存取核心區域的記憶體）。想要存取任何非自己的記憶體空間的行程衹能透過系統呼叫來達成。一般行程是處
於使用者模式（User mode）底下，而執行系統呼叫時會被切換成核心模式（Kernel mode），所有的特殊指令衹能在核心模式執行，此措施讓核心可以完美管理系統內部與外部裝置，並且拒絕無權限的行程提出的請
求。因此理論上任何應用程式執行時的錯誤，都不可能讓系統崩潰（Crash）。</font></p>

<p style="text-align: justify;"><font size="5">另一方面，微軟對於更強力的作業系統呼聲的回應便是Windows NT於1999年的面世。1983年開始微軟就想要為MS-DOS建構一個圖形化的作業系統應用程式，稱為Windows（有人說這是比爾·蓋茲被蘋果的Lisa電腦上
市所刺激）。一開始Windows並不是一個作業系統，只是一個應用程式，其背景還是純MS-DOS系統，這是因為當時的BIOS設計以及MS-DOS的架構不甚良好之故。在1990年代初，微軟與IBM的合作破裂，微軟從OS/2（
早期為命令列模式，後來成為一個很技術優秀但是曲高和寡的圖形化作業系統）專案中抽身，並且在1993年7月27日推出Windows 3.1，一個以OS/2為基礎的圖形化作業系統。並在1995年8月15日推出Windows 95。
直到這時，Windows系統依然是建立在MS-DOS的基礎上，因此消費者莫不期待微軟在2000年所推出的Windows 2000上，因為它才算是第一個脫離MS-DOS基礎的圖形化作業系統。底下的表格為Windows NT系統的架
構：在硬體階層之上，有一個由微核心直接接觸的硬體抽象層（HAL），而不同的驅動程式以模組的形式掛載在核心上執行。因此微核心可以使用諸如輸入輸出、檔案系統、網路、資訊安全機制與虛擬記憶體等功能。而
系統服務層提供所有統一規格的函式呼叫庫，可以統一所有副系統的實作方法。例如儘管POSIX與OS/2對於同一件服務的名稱與呼叫方法差異甚大，它們一樣可以無礙地實作於系統服務層上。在系統服務層之上的副系統
，全都是使用者模式，因此可以避免使用者程式執行非法行動。</font></p>

<p style="text-align: justify;"><font size="5">副系統架構第一個實作的副系統群當然是以前的微軟系統。DOS副系統將每個DOS程式當成一行程執行，並以個別獨立的MS-DOS虛擬機器承載其運行環境。另外一個是Windows 3.1模擬系統，實際上是在Win32副系統
下執行Win16程式。因此達到了安全掌控為MS-DOS與早期Windows系統所撰寫之舊版程式的能力。然而此架構只在Intel 80386處理器及後繼機型上實作。且某些會直接讀取硬體的程式，例如大部分的Win16遊戲，
就無法套用這套系統，因此很多早期遊戲便無法在Windows NT上執行。Windows NT有3.1、3.5、3.51與4.0版。Windows 2000是Windows NT的改進系列（事實上是Windows NT 5.0）、Windows XP（Wind
ows NT 5.1）以及Windows Server 2003（Windows NT 5.2）與Windows Vista（Windows NT 6.0）也都是立基於Windows NT的架構上而本年代漸漸增長並越趨複雜的嵌入式裝置市場也促使嵌入式作業系
統的成長。</font></p>

<font size="7">今日</font></p>
<p style="text-align: justify;"><font size="5">現代作業系統通常都有一個使用的繪圖裝置的圖形化使用者介面（GUI），並附加如滑鼠或觸控面版等有別於鍵盤的輸入裝置。舊的OS或效能導向的伺服器通常不會有如此親切的介面，而是以命令列介面（CLI）加上鍵
盤為輸入裝置。以上兩種介面其實都是所謂的殼，其功能為接受並處理使用者的指令（例如按下一按鈕，或在命令提示列上鍵入指令）。選擇要安裝的作業系統通常與其硬體架構有很大關係，只有Linux與BSD幾乎可在
所有硬體架構上執行，而Windows NT僅移植到了DEC Alpha與MIPS Magnum。在1990年代早期，個人電腦的選擇就已被侷限在Windows家族、類Unix家族以及Linux上，而以Linux及Mac OS X為最主要的另類選
擇，直至今日。</font></p>

<p style="text-align: justify;"><font size="5">大型機與嵌入式系統使用很多樣化的作業系統。大型主機近期有許多開始支援Java及Linux以便共享其他平台的資源。嵌入式系統近期百家爭鳴，從給Sensor Networks用的Berkeley Tiny 
OS到可以操作Microsoft Office的Windows CE都有。</font></p>






<p style="text-align: center;"><a href={% url 'windows:windows' %}><img src={% static 'main/img/windows.png' %} alt=你好>
   
<a href={% url 'linux:linux' %}><img src={% static 'main/img/linux.png' %} alt=你好>


</body>
</html>


    