<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>程式語言小百科</title>
<meta charset=utf-8>
<link rel=stylesheet href="{% static 'main/css/main.css' %}">
</head>
<body>
{% if category %}
 <h1>{{category.name}}</h1>
 {% if pages %}
 <table>
 <tr><th>網頁標題</th></tr>
 {% for page in pages %}
 <tr>
 <td>
 <a href={{page.url}}>{{page.title}}</a>
 </td>
 </tr>
 {% endfor %}
 </table>
 {% else %}
 <p><strong>此分類目前並無網頁。</strong></p>
 {% endif %}
{% else %}
 <p>所指定的分類「{{categoryID}}」不存在。</p>
 {% endif %}
<br>
<p><a href={% url 'mac:mac' %}>回 mac 網頁</a></p>
</body>
</html>