<!doctype html>
<html>
<head>
<title>mac</title>
<body>

<meta charset=utf-8>
<h1 style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; text-align: center;">
    <span style="font-size:48px;">mac介紹</span></h1>



{% if categories %}
 <h2>程式語言分類：</h2>
 <table>
 <tr><th>分類名稱</th></tr>
 {% for category in categories %}
<tr>
 <td>
 <a href={% url 'wiki:category' category.id %}>{{category.name}}</a>
 </td>
 </tr>
 {% endfor %}
 </table>
{% else %}
 <p><strong>目前尚未設定程式語言分類。</strong></p>
{% endif %}

</html>
</head>
</body>
